<div class="main-container">
  <h1 class="h1">Currency converter</h1>

  <div class="select_currency_box">
    <div class="select_box">
      <div>
        <label>Amount</label><br>
        <input [(ngModel)]="userInput" (ngModelChange)="convertCurrency()" class="input_amount" type="number" min="0" oninput="validity.valid||(value='');" placeholder="Enter amount"/>
      </div>
      <div>
        <label>From</label><br>
        <select class="select" [(ngModel)]="selectedFirstCurrency" name="curOne" (mouseleave)="convertCurrency()" required>
          <option *ngFor="let curOne of firstCurrency" [value]="curOne.value">
            {{curOne.currency}}
          </option>
        </select>
      </div>
      <div>
        <label>To</label><br>
        <select class="select" [(ngModel)]="selectedSecondCurrency" name="curTwo" (mouseleave)="convertCurrency()" required>
          <option *ngFor="let curTwo of secondCurrency" [value]="curTwo.value">
            {{curTwo.currency}}
          </option>
        </select>
      </div>
    </div>
  
  </div>
  <div class="result-container" *ngIf="userInput && selectedFirstCurrency && selectedSecondCurrency">
    <p>Result: {{userInput}} <span class="p_result_currency">{{selectedFirstCurrency}}</span> = {{result}} <span class="p_result_currency">{{selectedSecondCurrency}}</span></p>
  </div>
</div>