.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 10% 10%;
}

.select-box {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}

.title {
    text-align: center;
    font-size: 64px;
    margin-bottom: 36px;
}

.select {
    font-size: 16px;
    padding: 16px 32px;
    margin-right: 16px;

    &:focus {
        border: 1px solid var(--white);
    }
}

.input-amount {
    font-size: 16px;
    padding: 16px 32px;
    margin-right: 16px;
    background-color: var(--black);
    border: 1px solid var(--white);
    color: var(--white);

    &:focus {
        outline: 0;
        border-radius: 0;
    }
}

.input-error {
    border: 1px solid var(--warning);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.select:hover {
    cursor: pointer;
}

.error {
    display: flex;
    position: absolute;
    font-size: 12px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59px;
    width: 59px;
    cursor: pointer;
}