<div class="main-container">
    <h1 class="title">Currency converter</h1>
    <div class="select-currency-box">
      <form [formGroup]="convertForm" class="select-box">
        <div>
            <input
                [value]="firstAmount?.value"
                [ngClass]="firstAmount?.value && firstAmount?.invalid ? 'input-error' : ''"
                class="input-amount"
                formControlName="firstAmount"
                type="number"
                placeholder="Enter amount"
                (keyup)="convertCurrency('from', firstAmount)"
            />
            <select
                formControlName="firstCurrency" 
                class="select" 
                name="from" 
                required 
                (change)="convertCurrency('from', firstAmount)"
            >
                <option *ngFor="let from of currency" [value]="from.value">
                    {{ from.name }}
                </option>
            </select>
            <span *ngIf="firstAmount?.value && firstAmount?.errors?.['min']" class="error">The amount minimum is 0,01</span>
        </div>
        <div class="btn" (click)="switchValues()">
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
        </div>
        <div>
            <input
                [value]="secondAmount?.value" 
                [ngClass]="secondAmount?.value && secondAmount?.invalid ? 'input-error' : ''"
                class="input-amount" 
                formControlName="secondAmount" 
                min="0"
                type="number"
                placeholder="Enter amount" 
                (keyup)="convertCurrency('to', secondAmount)"
            />
            <select 
                formControlName="secondCurrency" 
                class="select" 
                name="to" 
                required 
                (change)="convertCurrency('from', firstAmount)"
            >
                <option *ngFor="let to of currency" [value]="to.value">
                  {{ to.name }}
                </option>
            </select>
            <span *ngIf="secondAmount?.value && secondAmount?.errors?.['min']" class="error">The amount minimum is 0,01</span>
        </div>
    </form>
    </div>
  </div>
